<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <system.diagnostics>
        <trace autoflush="true" />
        <sharedListeners>
            <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\TEMP\session.excel.svclog" />
            <add name="xmlc" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\TEMP\session.excelconnector.svclog" />
            <add name="xmls" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\TEMP\hpcsoa.svclog" />

        </sharedListeners>
        <sources>
            <source name="SOA Session API" switchValue="All">
                <listeners>
                    <remove name="Default" />
                    <add name="xml"/>
                </listeners>
            </source>
            <source name="HPC SOA Excel" switchValue="All">
                <listeners>
                    <remove name="Default" />
                    <add name="xmlc"/>
                </listeners>
            </source>

            <source name="HpcSoa" switchValue="All">
                <listeners>
                    <remove name="Default" />
                    <add name="xmls" />
                </listeners>
            </source>

        </sources>
    </system.diagnostics>

</configuration>
