<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.BrokerLauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.BrokerLauncherSettings>
      <setting name="MaxConcurrentSession" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BrokerPoolSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SessionAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="CCP_SERVICEREGISTRATION_PATH" serializeAs="String">
        <value>C:\services\registration</value>
      </setting>
      <setting name="SvcHostList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>127.0.0.1</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ClusterName" serializeAs="String">
        <value>Telepathy</value>
      </setting>
      <setting name="ClusterId" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureStorageConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAzureStorageQueueEndpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AsConsole" serializeAs="String">
        <value>False</value>
      </setting>
    </Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.BrokerLauncherSettings>
  </userSettings>
  <appSettings>
    <add key="failoverClusterName" value="" />
    <add key="serilog:enrich:with-property:Source" value="BrokerLauncher" />
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <!--
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />    
    <add key="serilog:write-to:Seq.compact" value="true" />
    -->
    <add key="serilog:write-to:Console" />
  </appSettings>
  <!--Uncomment the following section to enable https support for brokerlauncher and sessionlauncher
        Before using HTTPS transport, make sure 
                1. The HTTPS URI is correctly reserved for the user who is going to starts the session 
                   (using "netsh http add urlacl") and evaluate risk of allowing the user to listen on that URL
                2. Open the port in firewall
                3. Valid certificate is installed for the machine
                4. the certificate is registered with HTTP listener ("netsh http add sslcert")
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Microsoft.Hpc.LauncherHttpBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <netHttpsBinding>
        <binding name="Microsoft.Hpc.LauncherNetHttpBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnableMetadata">
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.BrokerLauncher" behaviorConfiguration="EnableMetadata">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:443/BrokerLauncher" />
          </baseAddresses>
        </host>
        <endpoint name="BasicHttpEndpointForJava" bindingConfiguration="Microsoft.Hpc.LauncherHttpBinding" binding="basicHttpBinding" address="" contract="Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.IBrokerLauncher">
        </endpoint>
        <endpoint name="NetHttpsEndpoint" binding="netHttpsBinding" bindingConfiguration="Microsoft.Hpc.LauncherNetHttpBinding" contract="Microsoft.Hpc.Scheduler.Session.Internal.BrokerLauncher.IBrokerLauncher" address="/NetHttp">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>
      <add name="SoaListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\broker.svclog" />
      <add name="Serilog"
           type="SerilogTraceListener.SerilogTraceListener, SerilogTraceListener" />
    </sharedListeners>
    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <remove name="Default" />
        <add name="SoaListener" />
        <add name="Serilog" />
      </listeners>
    </trace>
    <sources>
      <source name="HpcSoa" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="SoaListener" />
          <add name="Serilog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
