<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.SessionLauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="failoverClusterName" value="" />
    <add key="serilog:enrich:with-property:Source" value="SessionLauncher" />
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq"/>
    <add key="serilog:using:Console" value="Serilog.Sinks.Console"/>
    <!--
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
    <add key="serilog:write-to:Seq.compact" value="true" />
    -->
    <add key="serilog:write-to:Console" />
  </appSettings>

  <!--Uncomment the following section to enable https support for brokerlauncher and sessionlauncher
        Before using HTTPS transport, make sure 
                1. The HTTPS URI is correctly reserved for the user who is going to starts the session 
                   (using "netsh http add urlacl") and evaluate risk of allowing the user to listen on that URL
                2. Open the port in firewall
                3. Valid certificate is installed for the machine
                4. the certificate is registered with HTTP listener ("netsh http add sslcert")
        And you may need to replace the localhost in baseAddresses to real machine name so that the publish wsdl could contains the correct endpoint address
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Microsoft.Hpc.LauncherHttpBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <netHttpsBinding>
        <binding name="Microsoft.Hpc.LauncherNetHttpBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnableMetadata">
          <serviceMetadata httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.SessionLauncher" behaviorConfiguration="EnableMetadata">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:443/SessionLauncher" />
          </baseAddresses>
        </host>
        <endpoint name="BasicHttpEndpointForJava" binding="basicHttpBinding" bindingConfiguration="Microsoft.Hpc.LauncherHttpBinding" contract="Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.ISessionLauncher" address="">
        </endpoint>
        <endpoint name="NetHttpsEndpoint" binding="netHttpsBinding" bindingConfiguration="Microsoft.Hpc.LauncherNetHttpBinding" contract="Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.ISessionLauncher" address="/NetHttp">
        </endpoint>
      </service>
      <service name="Microsoft.Hpc.Scheduler.Session.Data.Internal.DataService" behaviorConfiguration="EnableMetadata">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:443/DataService" />
          </baseAddresses>
        </host>
        <endpoint name="BasicHttpEndpointForJava" binding="basicHttpBinding" bindingConfiguration="Microsoft.Hpc.LauncherHttpBinding" contract="Microsoft.Hpc.Scheduler.Session.Data.Internal.IDataService" address="">
        </endpoint>
        <endpoint name="NetHttpsEndpoint" binding="netHttpsBinding" bindingConfiguration="Microsoft.Hpc.LauncherNetHttpBinding" contract="Microsoft.Hpc.Scheduler.Session.Data.Internal.IDataService" address="/NetHttp">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.diagnostics>
    <sharedListeners>
      <!-- Define listener -->
      <add name="SoaListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\SessionLauncher.svclog" />
      <add name="Serilog"
           type="SerilogTraceListener.SerilogTraceListener, SerilogTraceListener" />
    </sharedListeners>

    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <!-- default source -->
        <remove name="Default" />
        <add name="SoaListener" />
        <add name="Serilog" />
      </listeners>
    </trace>

    <sources>
      <!--enable tracing for specific source-->
      <source name="HpcSoa" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="SoaListener" />
          <add name="Serilog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <userSettings>
    <Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.SessionLauncherSettings>
      <setting name="EnableDataService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceRegistrationPath" serializeAs="String">
        <value>C:\services\registration</value>
      </setting>
    </Microsoft.Hpc.Scheduler.Session.Internal.SessionLauncher.SessionLauncherSettings>
  </userSettings>
</configuration>