<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Hpc.Scheduler.Session.Internal.BrokerShim.BrokerWorkerSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="serilog:enrich:with-property:Source" value="BrokerWorker" />
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <!--
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />    
    <add key="serilog:write-to:Seq.compact" value="true" />
    -->
    <add key="serilog:write-to:Console" />
  </appSettings>

  <system.diagnostics>
    <sharedListeners>
      <add name="SoaListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\brokerworker.svclog" />
      <add name="Serilog"
           type="SerilogTraceListener.SerilogTraceListener, SerilogTraceListener" />
    </sharedListeners>

    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <remove name="Default" /> 
        <add name="SoaListener" />
        <add name="Serilog" />
      </listeners>
    </trace>

    <sources>
      <source name="HpcSoa" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="SoaListener" />
          <add name="Serilog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <userSettings>
    <Microsoft.Hpc.Scheduler.Session.Internal.BrokerShim.BrokerWorkerSetting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.Hpc.Scheduler.Session.Internal.BrokerShim.BrokerWorkerSetting>
  </userSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" useNagleAlgorithm="false"/>
    </settings>
    <connectionManagement>
      <add address = "*" maxconnection = "1000" />
    </connectionManagement>
  </system.net>
</configuration>
